body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 14px 100px 80px;
}

.hero {
    gap: 30px;
}

.header .logo,
.hero .text .main-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero .text {
    display: flex;
    flex: 1 0 400px;
    flex-direction: column;
    gap: 10px;
}

.hero .text .main-text {
    font-size: 48px;
}

.hero .text .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .text button {
    width: 120px;
    padding: 10px 0px;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
}

.hero .image {
    display: flex;
    flex: 1 0 400px;
    justify-content: center;
    align-items: center;
    background-color: #84888c;
    color: white;
    padding: 100px 0px;
}

.info
.info-collection-item {
    display: flex;
    flex-direction: column;
}

.info .info-collection {
    display: flex;
}