body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 14px 100px 80px;
}

.hero {
    gap: 30px;
}

.header .logo,
.hero .text .main-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero .text {
    display: flex;
    flex: 1 0 400px;
    flex-direction: column;
    gap: 10px;
}

.hero .text .main-text {
    font-size: 48px;
}

.hero .text .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .text button {
    width: 120px;
    padding: 10px 0px;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
}

.hero .image {
    display: flex;
    flex: 1 0 400px;
    justify-content: center;
    align-items: center;
    background-color: #84888c;
    color: white;
    padding: 100px 0px;
}

.info,
.info .title,
.info.collection.item {
    display: flex;
    flex-direction: column;
}

.info.collection {
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 0 200px;
    margin: 0 20px 40px;
    gap: 18px;
}

.info .title {
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info.collection.item {
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.info .illustration {
    width: 200px;
    height: 200px;
    flex-grow: 0;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.info .subtext {
    text-align: center;
    font-size: 18px;
    color: #84888c;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding: 80px 200px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937
}

.quote .author {
    font-size: 20px;
    font-weight: bold;
    padding-right: 24px;
}

.cta {
    padding: 60px 100px;
}

.cta .content,
.cta .content .text {
    display: flex;
}

.cta .content {
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px 100px;
    color: #f9faf8;
    font-size: 18px;
}

.cta .content .text {
    flex-direction: column;
}

.cta .title {
    font-size: 24px;
    font-weight: bold;
}

.cta button {
    border-radius: 8px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 20px;
}